<div class="row-fluid">
    <div class="span12 center">
        <%= image_tag("logo_new.png", alt: "Ragnarok Sakido", class: "pull-right") %>
        <h1><%=t :welcome %></h1>
        <h2>sakido.net</h2>
    </div>
</div>