<div class="hero-unit">
	<%= image_tag("logo_new.png", alt: "Ragnarok Sakido", class: "pull-right") %>
	<h1><%=t :welcome %></h1>
	<h2>auf sakido.de</h2>
	<p><%=t :slogan %></p>
</div>
<div class="row-fluid center">
	<div class="span6 hero-unit">
    	<h2>Heading</h2>
    </div>
    <div class="span6 hero-unit clearfix">
        <h2>Heading</h2>
    </div>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <div class="hero-unit">
    	<h2>Heading</h2>
    	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    </div>
</div>
