<% provide(:title, t(:database) ) %>
<div class="page-header">
	<h1><%= t(:database) %><small>#index</small></h1>
</div>
<table class="table table-bordered table-hover">
	<th coolspan="2">DBs</th>
	<tr><td><%= link_to t(:monster), main_app.monsters_path %></td></tr>
	<tr><td><%= link_to t(:items), main_app.items_path %></td></tr>
	<tr><td><%= link_to(t(:map), maps_path ) %></td></tr>
</table>


