<footer class="footer">
  <small>
    Copyright &copy; 2012 Ragnarok sakido.net<br />
  </small>
  <nav>
    <ul>
      <li><%= link_to t(:about), main_app.about_path %></li>
      <li><%= link_to t(:contact), main_app.contact_path %></li>
    </ul>
  </nav>
</footer>